// ABOUT ME

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include container-m-p;

  &-image {
    width: 35rem;
    max-width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      border-radius: 50px;
    }
  }
  &-text {
    margin-bottom: 1.5rem;
  }
}

// Media Query

// Tablet

@media (min-width: 768px) {
  .about {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 90%;

    &-image {
      margin-right: 1.5rem;
      width: 37%;
    }
    &-text {
      width: 60%;
    }
  }
}

// Desktop
@media (min-width: 1024px) {
  .about {
    width: 80%;

    &-text {
      width: 800px;
    }
  }
}
