@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #1f8e7e;
}

ul li {
  list-style-type: none;
}

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #131313;
  background-color: #f5f5f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h2,
h3,
h4 {
  margin: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}
h2::before {
  content: "<";
}
h2::after {
  content: "/>";
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  padding-bottom: 0.5rem;
}

i {
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }
}
.nav-bar {
  width: 100%;
  color: #f5f5f7;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.5px dotted #3d3d3d;
}
.nav-list-item {
  font-weight: 600;
  margin: 0.5rem 0;
  padding: 1.5rem 0;
}
.nav-list-item:hover {
  transform: scale(1.1);
}
.nav-list-item a {
  padding: 1rem;
}
.nav-list-item a:hover {
  box-shadow: 1px 2px 10px 6px #464545;
  cursor: pointer;
}

.active {
  box-shadow: 1px 2px 10px 6px #464545;
}

header {
  background-color: #131313;
  background-image: url("../video/Black-13494.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 25%;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
}

.hero {
  color: #f5f5f7;
  margin: 0rem auto;
  padding: 1.5rem 3rem;
  width: 100%;
  z-index: 10;
}
.hero-intro, .hero-text-name, .hero-text-description h4 {
  text-align: left;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  header {
    padding-bottom: 15%;
  }

  .hero {
    width: 80%;
    padding-top: 2rem;
  }
  .hero h4 {
    display: inline-block;
    padding-right: 1rem;
  }
  .hero .type {
    animation: typewriter 4s steps(30) 1s 1 normal both, cursor 0.7s infinite normal;
  }
  .hero .line {
    position: relative;
    top: 35%;
    width: 25%;
    border-right: 2px solid #f5f5f7;
    font-size: 200%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
  .hero-text-name {
    animation: hero-name 1s linear;
  }
}
/* ANIMATION */
@keyframes hero-name {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  25% {
    transform: translateY(75px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  75% {
    transform: translateY(25px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 27ch;
  }
}
@keyframes cursor {
  from {
    border-right-color: #f5f5f7;
  }
  to {
    border-right-color: transparent;
  }
}
.skill {
  margin: 0rem auto;
  padding: 1.5rem 3rem;
  width: 100%;
}
.skill-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  margin: 2rem 1rem;
}
.skill-img {
  display: flex;
  align-items: center;
  background-color: white;
  width: 15rem;
  border-radius: 1rem;
  flex: 1 0 auto;
  margin: 3rem 1rem;
  box-shadow: 8px 6px 4px 2px #a8a3a3, 2px 2px 2px grey, 4px 4px 1px #969494;
}
.skill-img:hover {
  box-shadow: 0px 5px 10px 4px grey;
  transform: scale(1.1);
  transition: 0.3s;
}
.skill-img img {
  width: 100%;
}
.skill-img-base {
  padding: 2.5rem;
}
.skill-img-top {
  padding: 5rem 1rem;
}

.shadow {
  box-shadow: 0px 5px 10px 4px grey;
  transform: scale(1.1) translateY(20px);
  transition: 0.3s;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem auto;
  padding: 1.5rem 3rem;
  width: 100%;
}
.about-image {
  width: 35rem;
  max-width: 100%;
  margin: 0 auto;
}
.about-image img {
  width: 100%;
  border-radius: 50px;
}
.about-text {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
  }
  .about-image {
    margin-right: 1.5rem;
    width: 37%;
  }
  .about-text {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .about {
    width: 80%;
  }
  .about-text {
    width: 800px;
  }
}
.project {
  margin: 0rem auto;
  padding: 1.5rem 3rem;
  width: 100%;
}
.project-container {
  display: flex;
  flex-direction: column;
}
.project-card {
  width: 100%;
  background-color: #131313;
  color: #f5f5f7;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.project-card p a {
  color: #1f8e7e;
}
.project-card p a:hover {
  text-decoration: underline;
}
.project-card h4 {
  border-top: 1px dashed grey;
  padding-top: 1.5rem;
}
.project-card-icons {
  text-align: center;
}
.project-card-image {
  margin: 0 auto;
  padding: 1rem;
  width: 20rem;
}
.project-card-image img {
  width: 100%;
  border-radius: 1rem;
}
.project-more {
  text-align: center;
  font-weight: 700;
  margin: 3rem 0;
}

@media (min-width: 768px) {
  .project-card {
    max-width: 60rem;
    margin: 2rem;
  }

  .project-container {
    flex-direction: row;
    justify-content: center;
  }
}
.contact {
  margin: 0rem auto;
  padding: 1.5rem 3rem;
  width: 100%;
  background-color: #131313;
  color: #f5f5f7;
  padding-top: 5rem;
  clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
}
.contact-icons {
  text-align: center;
}
.contact-icons a :hover {
  color: #1f8e7e;
}
.contact form,
.contact .contact-icons {
  width: 100%;
  margin: 1.5rem auto;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .contact form,
.contact .contact-icons {
    width: 40%;
  }
}
.contact label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.contact button,
.contact input,
.contact textarea {
  display: block;
  padding: 0.5rem 0;
  margin: 1rem 0 0.5 0;
  width: 100%;
  font-size: 1.8rem;
  font-family: sans-serif;
}
.contact input:focus,
.contact textarea:focus {
  outline: 3px solid #1f8e7e;
}
.contact button {
  background-color: #1f8e7e;
  color: #f5f5f7;
  font-weight: 600;
  text-shadow: 1px 1px 1px #131313;
  border: none;
  margin: 1.5rem 0;
  padding: 1rem;
}
.contact button:hover {
  background-color: #155f54;
  box-shadow: 2px 2px 4px 1px #1f8e7e;
}

footer {
  text-align: center;
  background-color: #131313;
  color: #f5f5f7;
  border-top: 1px dotted grey;
}
footer p {
  padding: 2.5rem;
}
footer p a {
  color: #1f8e7e;
}
footer p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
